utility-client/src/main/resources/wsdl/userdetails.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/userdetails/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="userdetails"
	targetNamespace="http://www.example.org/userdetails/">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.example.org/userdetails/">

			<xsd:element name="UserDetailsRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="name" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="UserDetailsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="User" type="tns:User" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="User">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="mobilenumber" type="xsd:int" />
					<xsd:element name="address" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="UserDetailsRequest">
		<wsdl:part element="tns:UserDetailsRequest"
			name="UserDetailsRequest" />
	</wsdl:message>
	<wsdl:message name="UserDetailsResponse">
		<wsdl:part element="tns:UserDetailsResponse"
			name="UserDetailsResponse" />
	</wsdl:message>
	<wsdl:portType name="UserDetailsPort">
		<wsdl:operation name="UserDetails">
			<wsdl:input message="tns:UserDetailsRequest"
				name="UserDetailsRequest" />
			<wsdl:output message="tns:UserDetailsResponse"
				name="UserDetailsResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="UserDetailsPortSOAP11"
		type="tns:UserDetailsPort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="UserDetails">
			<soap:operation soapAction="" />
			<wsdl:input name="UserDetailsRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="UserDetailsResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UserDetailsPortService">
		<wsdl:port binding="tns:UserDetailsPortSoap11"
			name="UserDetailsPortSoap11">
			<soap:address
				location="http://localhost:8080/service/user-details" />
		</wsdl:port>
	</wsdl:service>


</wsdl:definitions>
